body{
    widht: 100%; 
    heigth: 100%;
}
 .menu-principal {
    background-color: 	#cdeaf3;
    height: 90px;
    background-size: 110px 200px;
    
}
  main{
    width: 980px;
    float: left;
    position: relative;
}

.logo{
     width: 10%;
     float: left;

}
.Links-do-site ul li {
  display: inline-block;
  list-style: none;
  padding:15px;
  float: right;
  margin-right: 30px;
  font-size: 22px;
  text-decoration: none;
}


.Links-do-site ul li a{
  display: inline-block;
  text-decoration: none;
}

.Links-do-site  {
  width: 50%;
  float: right;
  list-style: none;
  text-decoration: none;
}

a:hover{
  color: red;
  text-decoration: none;
}

     
 .Botao{
  float: right;
  cursor: pointer;
  border: solid 1px blue;
  border-radius: 20px;
  color: rgb(157, 198, 252);
  background-color: rgb(27, 55, 216);
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  width: 10%;
  padding:10px;
  height: 10%;
  margin-left: 1em;
  margin-top: 2em;
  margin-right: -50em;
  display: block; 
 }

.Botao:hover{
  background-color: blue;
  color: rgb(157, 198, 252);
  transform: scale(1.2)
 }

 .logo-2{
  width: 550%;
  background-size: cover;
  float:inline-start;
 }

 .Cartaz{
  float: left;
  width: 16.66%;
  padding: 5px;
 }

 .Filmes-1::after {
  content: "";
  clear: both;
  display: table;
}